@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
    background-color: #121212;
    color: #adb5bd;

/* rules for sticky footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#sendMessageButton {
    font-size: 0.75rem;
}

symbol {
    fill: #6c757d;
}

.intro {
    border-right: solid 3px grey;
    white-space: nowrap;
    overflow: hidden;

    font-family: 'Space Mono', monospace;
    font-size: 2rem;
    color: grey;
}

.intro {
    animation: animated-text 4s steps(52,end) 1s 1 normal both,
               animated-cursor 600ms steps(52,end) infinite;
}

@keyframes animated-text {
    from{width: 0;}
    to{width: 63.5rem;}
}

@keyframes animated-cursor {
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
}