{% include "header.html" %}

<!-- Amend padding and margins for visual consistency with about page -->
    <div class="px-4 pt-5 mt-5 text-center">
      <img id="avatar" class="d-block mx-auto mb-4" src="https://avatars.githubusercontent.com/u/42092799?v=4" alt="" width="57" height="57">
    </div>

  <section class="pb-5 text-center container">
    <div class="row"> <!-- py-lg-5-->
      <div class="col-lg-6 col-md-8 mx-auto">
        <p class="display-3">Check-out my work</p>
        <p class="lead text-muted">The following collection summarises projects I have completed to date. Click/Tap on any project for more detail.</p>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
             <a class="nav-link" href="{{ url_for('contact') }}">
                 <button type="button" class="btn btn-primary btn-lg rounded-pill px-5 py-1">Contact Me</button>
             </a>

             <a class="nav-link" target="_blank" href={{links['dm_link']}} data-show-count="false">
                 <button type="button" class="btn btn-primary btn-lg rounded-pill gap-3 px-5 py-1">Tweet</button>
             </a>
        </div>

      </div>
    </div>
  </section>

  <div class="album py-5 bg-dark">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          {% for project in all_projects %}
          <div class="col">
              <div class="card shadow-sm">
                  <a target="_blank" href="{{ project.url if 'http' in project.url else project.endpoint + project.url }}">
                      <img src="{{ project.endpoint + project.image_url }}" class="rounded" width=100% height=225 alt="{{ project.image_alt_text }}" >
                  </a>
                  <div class="card-body">
                      <p class="card-text">{{ project.description }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                              <a target="_blank" href="{{ project.url if 'http' in project.url else project.endpoint + project.url }}">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              </a>
                          <small class="text-muted">{{ project.created }}</small>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
          
      </div>
    </div>
  </div>

{% include "footer.html" %}